<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30" />
    <title>MediPoint- Incoming Visits</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-200">
    <h1 class="text-center"><b>Hi! Here are your Incoming visits for today</b></h1>
    {{#mesg1}}
    <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <p><b>Card No:</b>{{Card_No}}</p>
        <p><b>Visit Number:</b>{{Visit_No}}</p>
        <p><b>Visit Date:</b>{{Visit_Date}}</p>
        <p><b>Patient ID:</b>{{Patients.0.P_ID}}</p>
        <button onclick="location.href='/dashboard/incomingVisits/dID/{{Doctors.0.D_ID}}/pID/{{Patients.0.P_ID}}'" class="text-gray-50  hover:bg-red-700 bg-red-500 px-5 py-3 mt-6">Open</button>
    </div>
    {{/mesg1}}
    <button onclick="location.href='/dashboard'" class="text-gray-50  hover:bg-teal-700 bg-teal-500 px-5 py-3 mt-6">Back</button>

    {{#mesg2}}
        <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <p><b>There are no incoming visits for you today.</b></p>
    </div>
    {{/mesg2}}
    <form action="/logout" method="POST">
        <button class="text-gray-50  hover:bg-teal-700 bg-teal-500 px-5 py-3 mt-6">Logout</button>
    </form>
</body>
</html>