<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediPoint- OPD card details</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-blue-200">
    <h1 class="text-center"><b>Patient OPD Detail</b></h1>
    <button onclick="location.href='/dashboard'" class="text-gray-50  hover:bg-teal-700 bg-teal-500 px-5 py-3 mt-6">Back</button>
    <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
    {{#mesg5}}
    <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <p><b>Card Details</b></p>
        <p>Card Number: {{Card_No}}</p> <br>
    </div>
    {{/mesg5}}

    {{#mesg1}}
        <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <p><b>Patient Details</b></p>
        <p>Patient ID: {{P_ID}}</p>
        <p>Patient Name: {{User.Full_Name}}</p>
        <p>Age: {{Age}}</p>
        <p>Gender: {{Gender}}</p> <br>
    </div>
    {{/mesg1}}

    {{#mesg2}}
    <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <p><b>Consultation Department</b></p>
        <p>Doctor ID: {{D_ID}}</p>
        <p>Doctor Name: {{User.Full_Name}}</p>
        <p>Department: {{Dept_Name}}</p>
        <p>Day: {{Avl_Day}}</p>
        <p>Time: {{Avl_Time}}</p> <br>
    </div>
    {{/mesg2}}

    {{#mesg3}}
    <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <p><b>Appointment Details</b></p>
        <p>Appointment Type: {{Patient_Appointment_Details.0.App_Type}}</p>
        <p>Payment Status: {{Patient_Appointment_Details.0.Payment_Status}}</p> <br>
    </div>
    {{/mesg3}}

    
    <p><b>Follow-up Details</b></p>
    {{#mesg4}}
    <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <button onclick="location.href='/dashboard/incomingVisits/cardNo/{{Card_No}}/visitNo/{{Visit_No}}'" class='mt-8 ml-8 border border-gray-600 rounded-md bg-red-300'>
            <p>Visit Number: {{Visit_No}}</p>
            <p>Visit Date: {{Visit_Date}}</p>
        </button>
    </div>
    {{/mesg4}}

    {{#opdsearchmesg4}}
    <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <button class='mt-8 ml-8 border border-gray-600 rounded-md bg-red-300'>
            <p>Visit Number: {{Visit_No}}</p>
            <p>Visit Date: {{Visit_Date}}</p>
        </button>
    </div>
    {{/opdsearchmesg4}}

    {{#docsearchmesg4}}
    <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <button onclick="location.href='/dashboard/searchOPDdetails/PatientOPDCardDetails/cardNo/{{Card_No}}/visitNo/{{Visit_No}}'" class='mt-8 ml-8 border border-gray-600 rounded-md bg-red-300'>
            <p>Visit Number: {{Visit_No}}</p>
            <p>Visit Date: {{Visit_Date}}</p>
        </button>
    </div>
    {{/docsearchmesg4}}

    {{#mesg6}}
    <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        <button onclick="location.href='/dashboard/myMedicalRecords/cardNo/{{Card_No}}/visitNo/{{Visit_No}}'" class='mt-8 ml-8 border border-gray-600 rounded-md bg-red-300'>
            <p>Visit Number: {{Visit_No}}</p>
            <p>Visit Date: {{Visit_Date}}</p>
        </button>
    </div>
    {{/mesg6}}
    </div>
    <form action="/logout" method="POST">
        <button class="text-gray-50  hover:bg-teal-700 bg-teal-500 px-5 py-3 mt-6">Logout</button>
    </form>
</body>
</html>