<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediPoint- Patient Visit Details</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-blue-200">
    <h1 class="text-center text-red-500"><b>Patient visit details</b></h1>

    <div id="healthLogForm" class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
        {{#mesg1}}
        <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-teal-200 text-center'>
            <p><b>Log the health status</b></p>

            <form action="{{Visit_No}}/addVisitDetails" method="POST">
                <label for="bp">BP</label>
                <input type="text" name="bp" id="bp" pattern="^\d{1,3}\/\d{1,3}$" title="e.g. 120/80"> mm HG <br> <br>

                <label for="pulse">Pulse Rate</label>
                <input type="text" name="pulse" id="pulse" pattern="^[0-9]{2,3}$" title="Should be 2 digit or 3 digit numeric value"> bpm <br> <br>

                <label for="temp">Body Temperature</label>
                <input type="text" name="temp" id="temp" pattern="\d{1,3}\.\d{1,3}?" title="e.g. 98.8, 100.4"> &#176; F <br> <br>

                <label for="sympExp">Symptoms experienced by the patient</label> <br>
                <textarea id="sympExp" name="sympExp" rows="4" cols="50"></textarea> <br> <br>

                <label for="diagnosis">Diagnosis</label> <br>
                <textarea id="diagnosis" name="diagnosis" rows="4" cols="50"></textarea> <br> <br>

                <div id="container">
                    <label for="labtests">Required Lab Tests</label> <br>
                    <input type="text" name="1" id="labtests">
                    <a class="text-gray-50  hover:bg-red-700 bg-red-500 px-5 py-3 mt-6" id="add">Add</a> <br>
                    <br>
                </div>

                <p>Medicine prescriptions</p>

                <div id="prescriptionContainer">
                <div class="mt-7 border border-gray-600 rounded-md" id="pres">
                    <label for="medName">Medicine Name</label> 
                    <input type="text" name="medName" id="medName"> 

                    <label for="desc">Description</label> 
                    <input type="text" name="desc" id="desc"> 

                    <label for="days">Days</label> 
                    <input type="text" name="days" id="days"  pattern="^[0-9]+$" title="Please enter numeric value only"> 

                    <label for="duration">Duration</label> 
                    <input type="text" name="duration" id="duration"  pattern="^[0-9]+$" title="Please enter numeric value only">
                </div>
                <a class="text-gray-50 hover:bg-red-700 bg-red-500 px-5 py-3 mt-6" id="presAdd">Add</a> <br>
                    <br>
                </div>

                <button class="text-gray-50  hover:bg-sky-700 bg-sky-500 px-5 py-3 mt-6">Save</button>
            </form>
        </div>
        {{/mesg1}}

        {{#mesg2}}
            <p><b>Visit details</b></p>
                 <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-red-200 text-center'>
                     <p><b>Visit No:</b>{{Visit_No}}</p>
                     <p><b>Visit Date:</b>{{Visit_Date}}</p> <br>
                     <p><b>Vitals</b></p>
                     <p><b>BP:</b>{{BP}}</p>
                     <p><b>Pulse:</b>{{Pulse}}</p>
                     <p><b>Temperature:</b>{{Temperature}}</p>
                     <p><b>Symptoms Experienced:</b>{{Symptoms_Exp}}</p>
                     <p><b>Diagnosis:</b>{{Diagnosis}}</p>
                 </div>
        {{/mesg2}}

        {{#mesg5}}
        <p><b>Lab Test details</b></p>
        {{/mesg5}}
        
        {{#mesg3}}
            <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-red-200 text-center'>
                     <p><b>Test No:</b>{{Test_No}}</p>
                     <p><b>Test Name:</b>{{Test_Name}}</p>
                     <p><b>Payment Status:</b>{{Test_Pay_Status}}</p>
                     <p><b>Test Completed:</b>{{Test_Done}}</p>
                     <p><b>File Name:</b>{{File_Name}}</p>
                     <p><b>File Data:</b>{{File_Data}}</p>
            </div>
        {{/mesg3}}

        {{#mesg5}}
        <p><b>Medicine Details</b></p>
        {{/mesg5}}

        {{#mesg4}}
            <div class='mt-8 ml-8 border border-gray-600 rounded-md bg-red-200 text-center'>
                     <p><b>Medicine No:</b>{{Pres_No}}</p>
                     <p><b>Name:</b>{{Medicine_Name}}</p>
                     <p><b>Description:</b>{{Description}}</p>
                     <p><b>Days:</b>{{Days}}</p>
                     <p><b>Duration:</b>{{Duration}}</p>
                     <p><b>Payment Status:</b>{{Med_Pay_Status}}</p>
                     <p><b>Medicine Received Status:</b>{{Received}}</p>
                 </div>
        {{/mesg4}}

    </div>

    <form action="/logout" method="POST">
        <button class="text-gray-50  hover:bg-teal-700 bg-teal-500 px-5 py-3 mt-6">Logout</button>
    </form>

    <script>
        let addBtn = document.getElementById('add');
        let addBtnPres = document.getElementById('presAdd');
        addBtn.addEventListener('click', addTests);
        addBtnPres.addEventListener('click', addPrescriptions);
        //let cancelBtn = document.getElementById('cancelBtn');
        //cancelBtn.addEventListener('click', function(event){
          //  console.log(event.target.previousElementSibling);    
        //});
        function addTests() {
            var firstInput = document.getElementById('labtests');
            firstInput.setAttribute("required", "true");

            var container = document.getElementById("container");
            container.removeChild(addBtn);

            var inputArrays = [...document.querySelectorAll('#labtests')].pop();
            var number = parseInt(inputArrays.name);

            var input = document.createElement("input");
            input.type = "text";
            input.name = number + 1;
            input.id = "labtests";
            input.classList.add("mt-7");
            input.setAttribute("required", "true");
            var breakTag = document.createElement("br");
            var cancelBtn = document.createElement("a");
            cancelBtn.innerHTML = "Cancel";
            //cancelBtn.href = "#";
            cancelBtn.id = "cancelBtn";

            container.appendChild(input);
            container.appendChild(cancelBtn);
            container.appendChild(breakTag);
            container.appendChild(addBtn);
            container.appendChild(breakTag);
        }

        function addPrescriptions() {
            var medInput = document.getElementById('medName').setAttribute("required", "true");
            var descInput = document.getElementById('desc').setAttribute("required", "true");
            var daysInput = document.getElementById('days').setAttribute("required", "true");
            var durationInput = document.getElementById('duration').setAttribute("required", "true");

            var prescriptionContainer = document.getElementById("prescriptionContainer");
            prescriptionContainer.removeChild(addBtnPres);

            var inputArrays = [...document.querySelectorAll('#pres')].pop();
            var number = parseInt(inputArrays.name);

            //
            var container = document.createElement("div");
            container.id = "pres";
            container.classList.add('mt-7','border','border-gray-600','rounded-md');
            //
            var cancelBtn = document.createElement("a");
            cancelBtn.innerHTML = "Cancel";
            //cancelBtn.href = "#";
            cancelBtn.id = "cancelBtn";
            //
            var medNameLbl = document.createElement("label");
            medNameLbl.innerHTML = "Medicine Name";
            var medNameInput = document.createElement("input");
            medNameInput.name = "medName";
            medNameInput.id = "medInput";
            medNameInput.setAttribute("required", "true");

            var descLbl = document.createElement("label");
            descLbl.innerHTML = "Description";
            var descInput = document.createElement("input");
            descInput.name = "desc";
            descInput.id = "desc";
            descInputvar.setAttribute("required", "true");

            var daysLbl = document.createElement("label");
            daysLbl.innerHTML = "Days";
            var daysInput = document.createElement("input");
            daysInput.name = "days";
            daysInput.id = "days";
            daysInput.pattern = "^[0-9]+$";
            daysInput.title = "Please enter numeric value only";
            daysInput.setAttribute("required", "true");

            var durationLbl = document.createElement("label");
            durationLbl.innerHTML = "Duration";
            var durationInput = document.createElement("input");
            durationInput.name = "duration";
            durationInput.id = "duration";
            durationInput.pattern = "^[0-9]+$";
            durationInput.title = "Please enter numeric value only";
            durationInput.setAttribute("required", "true");


            //

            prescriptionContainer.appendChild(container);
            container.appendChild(medNameLbl);
            container.appendChild(medNameInput);
            //container.appendChild(breakTag);

            container.appendChild(descLbl);
             container.appendChild(descInput);
            //container.appendChild(breakTag);

            container.appendChild(daysLbl);
             container.appendChild(daysInput);
            //container.appendChild(breakTag);

            container.appendChild(durationLbl);
             container.appendChild(durationInput);
            //container.appendChild(breakTag);

            //
            prescriptionContainer.appendChild(cancelBtn);
           prescriptionContainer.appendChild(addBtnPres);
        }
    </script>
</body>

</html>